$btn-width: 85px;
$btn-height: 55px;
$btnContainer-width: $btn-width * 4 + 15px;

// COLORS

$primary-color: #2717ffc9;
$clearBtn-color: #001c58;
$clearBtn-hover-color: #02153e;
$btn-color: #4983ff3b;
$btn-hover-color: #3266d6a0;
